@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

/* Custom animations */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 1.5s ease-in-out;
}

.container {
  @apply mx-auto px-4 py-10 max-w-[1200px];
}

